/* COMMON */
body { 
  height: 3000px;
  background-color: antiquewhite;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
}
/* ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */




/* HEADER */
header {
  width: 100%;
  border-top: 5px solid #d50032;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}
.headerLogo {
  text-align: center;
  padding-top: 1.3rem;
}
.headerLogo a {
  height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerLogo img {
  width: 220px;
}


.megaMenu {
  position: relative;
}
.megaMenu .weather {
  position: absolute;
  width: 30%;
  height: auto;
  top: -3rem;
  left: 3rem;
  color: #555;
  font-size: 0.9rem;
  font-weight: 500;
}
.megaMenu .weather * {
  display: block;
}
.megaMenu .weather .weIcon .weatherIcon {

}
.megaMenu .weather .weIcon {
  float: left;
  width: 60px;
  height: 100%;
  
}
.megaMenu .weather .openHour {
  display: flex;
  margin-top: 3px;
}
.megaMenu .weather .openHour .title { 

}
.megaMenu .weather .openHour .colorRed {
  margin-left: 3px;
  color: #c30e2e;
}
.megaMenu .info {
  position: absolute;
  display: flex;
  top: -3rem;
  right: 3rem;
}
.megaMenu .info span {
  /* position: absolute; */
  /* vertical-align: unset; */
  font-size: 15px;
  color: #555;
  margin-right: 14px;
}
.megaMenu .info .login::after {
  content: "";
  position: absolute;
  border: #555 solid 1px;
  height: 13px;
  top: -3px;
  bottom: 0;
  margin: auto 7px;
}
.megaMenu .info .material-icons {
  color: #555;
  font-size: 20px;
  padding: 0 0 0 5px;
}

.megaMenuList {
  background: url("../image/bg_megaMenuList.png") repeat-x left 3.6rem;
  /* background-color: royalblue; */
}
.megaMenuList .container {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.megaMenuList .container .flexList {
  margin-left: 10%;
  /* position: relative; */
  padding-top: 3.6rem;
  display: flex;
  /* justify-content: center; */
}
.megaMenuList .container .flexList>li {
  flex-grow: 1;
  position: relative;
}
.megaMenuList .container .flexList .titMenu {
  position: absolute;
  top: -3.6rem;
  left: 0;
  right: 0;
  /* margin: 0 auto; */
}
.megaMenuList .container .flexList .titMenu .titweb {
  display: block;
  padding: 1.3rem 0;
  /* width: 100%; */
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
.megaMenuList .container .flexList .hideMenu {
  display: none;
  height: 309px;
  /* margin-left: 1.2rem; */
  font-size: 1.1rem;
  padding: 1rem 0 4.8rem 0;
  flex-grow: 1;
}
/* 왜 따로 나타나지? */
.megaMenuList .container .flexList:hover .hideMenu {
 display: block;
}
.megaMenuList .container .flexList .hideMenu li {
  
}
.megaMenuList .container .flexList .hideMenu a {
  /* text-align: center; */
  line-height: 2.5rem;
  color: #515151;
  font-size: 0.8rem;
}