body {
  height: 2000px;
  background-color: skyblue;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
}
.Inner {
  width: calc((1024px/10)*8);
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}



header {
  width: 100%;
  position: fixed;
  z-index: 9;
  border-top: 5px solid #d50032;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
}
.topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  color: #555555;
  font-size: 0.9rem;
  font-weight: 500;
}
.topBox .weather {
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  margin-left: 30px;
  /* background-color: antiquewhite; */
}
.topBox .weather .weatherIcon {
  height: 100%;
  float: left;
  margin-right: 10px;
}
.topBox .weather .textBox {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.topBox .weather .openHour {
  display: flex;
  margin-top: 3px;
}
.topBox .weather .openHour .open {

}
.topBox .weather .openHour .time {
  margin-left: 0.3rem;
  color: #c30e2e;
}
header .logoBox {
  right: 0;
  left: 0;
  flex-grow: 1;
}
header .logo {
  width: 220px;
  display: block;
  margin: 0 auto;
}
.topBox .info {
  width: 250px;
  flex-shrink: 0;
  margin-right: 30px;
  /* background-color: antiquewhite; */
}
.topBox .info .infoBox {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: ;
}
.topBox .info .infoBox .search::before {
  content: "";
  width: 0.1rem;
  height: 0.9rem;
  display: inline-block;
  background: #aeaeae;
  margin: auto 1.4rem;
  margin-bottom: 0.1rem;
}

header .menu {
  /* background-color: rgb(103, 220, 156); */
}
header .menu .title {
  /* 플렉스 아이템 */
  width: 16.66%;
  text-align: center;
  padding: 1.4rem 0;
}
header .menu .title a {
  font-size: 1rem;
  font-weight: 500;
}
/* 아이콘띄우기 */
header .menu .title:hover {

}
/* 메뉴창 열기 */
header .menu:hover~.hide {
  display: block;
}
header .hide {
  display: none;
  border-top: 2px solid red;
  /* background-color: rgb(130, 92, 50); */
  right: 0;
  left: 0;
}
header .hide .Inner {
  top: 1.3rem;
  /* background-color: tan; */
}
header .hide .Inner .hideGrow {
  width: 16.66%;
  text-align: center;
  padding: 1rem 0 4.8rem 0;
}
header .hide .Inner .hideGrow a {
  line-height: 2.2rem;
  font-size: 0.8rem;
}


.badges  {
  background-color: #64635d;
  position: fixed;
  top: 157px;
  right: 0;
  z-index: 10;
  text-align: center;
}
.badges .badgesBox .badge,
.badges .badgesBox .store span,
.badges .topBtn {
  font-size: 0.7rem;
}
.badges .badge {
  width: 87px;
  height: 88px;
  border-bottom: 1px solid #cdccca;
  background-color: #e7e6e2;
  color: #64635d;
}
.badges .badge:first-child {
  border-bottom: none;
}
.badges .red {
  background-color: #d50032;
}
.badges .red span {
  color: #fff;
}
.badges .store {
  width: 87px;
}

.badges .store a {
  padding: 0 11px;
  color: #fff;
}
.badges .store span {
  display: block;
  padding: 18px 0;
  border-bottom: 1px solid #919293;
}
.badges .store .none {
  border-bottom: none;
}
.badges .store em {
  display: block;
  margin-top: 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.badges .store {
  height: 0px;
  overflow: hidden;
}
.badges .block {
  height: 577px;
  transition: height 1s;
}
.badges .topBtn {
  height: 42px;
  color: #fff;
  cursor: pointer;
}
.badges .topBtn img {
  margin-top: 10px;
  padding-bottom: 3px;
}